.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navItem {
  padding: var(--size-padding-base);
  border: var(--size-border-base) solid var(--color-border-primary);
  text-decoration: none;
}