
.toc {
  width: 10rem;
  position: relative;
}

.toc-inner {
  position: fixed;
  top: 3rem;
  bottom: 0;
  left: 0;
  width: 10rem;
  padding-top: var(--size-padding-xl);
  overflow-y: auto;
  /* border-right: 1px solid var(--color-core-purple-100); */
}

.toc h4 {
  padding: 0 var(--size-padding-base);
  margin-bottom: 0;
}

.toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc-link {
  display: block;
  padding: var(--size-padding-small) var(--size-padding-base);
  text-decoration: none;
  font-size: var(--size-font-small);
  color: var(--color-font-tertiary);
}

.toc-link:focus {
  color: var(--color-font-link);
}

.toc-link.is-current {
  color: var(--color-font-primary);
  font-weight: bold;
}