
.toc {
  width: 15rem;
  position: relative;
}

@media(max-width: 1000px) {
  .toc { display: none; }
}

.toc-inner {
  position: sticky;
  top: 0;
  padding-right: var(--size-padding-base);
  padding-top: var(--size-padding-base);
  overflow-y: auto;
}

.toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc-link {
  display: block;
  padding: var(--size-padding-small) var(--size-padding-base);
  text-decoration: none;
  font-size: var(--size-font-small);
  color: var(--color-font-tertiary);
  border-left: var(--size-border-base) solid var(--color-border-tertiary);
}

.toc-link:focus {
  color: var(--color-font-link);
}

.toc-link.is-current {
  color: var(--color-font-primary);
  font-weight: bold;
  border-color: var(--color-brand-primary);
}