.prism-code {
  padding: var(--size-padding-base);
  margin-bottom: var(--size-padding-xl);
  background-color: var(--color-background-tertiary);
  overflow-x: auto;
  display: block;
}

p + .prism-code {
  margin-top: calc(-1 * var(--size-padding-base));
}

.prism-code + .prism-code {
  margin-top: calc(-1 * var(--size-padding-base));
}

.light .prism-code {

}


.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-font-tertiary);
}

.language-json .token.plain {
  color: var(--color-font-tertiary);
}

.token.attr-name,
.token.namespace {
  color: var(--color-font-code-1);
}

.token.tag {
  color: var(--color-font-code-5);
}

.token.function-name {
  color: var(--color-font-code-2);
}

.token.boolean,
.token.number,
.token.function {
  color: var(--color-font-code-3);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: var(--color-font-code-4);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: var(--color-font-code-2);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: var(--color-font-code-1);
}

.token.operator,
.token.entity,
.token.url {
  color: var(--color-font-code-5);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  background-color: var(--color-background-success);
}

.token.deleted {
  background-color: var(--color-background-error);
}


.token.punctuation {
  color: var(--color-font-secondary);
}