div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: baseline;
    background: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

p {
  margin-bottom: var(--size-padding-xl);
}

code,
pre {
  font-size: inherit;
  font-family: 'Source Code Pro', monospace;
}

p > code {
  padding: 0 var(--size-padding-tiny);
  background-color: var(--color-background-secondary);
}

sup {
  vertical-align: super;
  font-size: var(--size-font-small);
}

li {
  margin-bottom: var(--size-padding-small);
}