:root {
  --color-core-white: #FFFFFF;

  /* Grays */
  --color-core-gray-140: #0C001F;
  --color-core-gray-120: #180D2A;
  --color-core-gray-100: #231934;
  --color-core-gray-80: #322941;
  --color-core-gray-60: #4E465B;
  --color-core-gray-40: #E7E4E7;
  --color-core-gray-20: #ECE9EC;
  --color-core-gray-10: #FAFAFA;
  
  --s-1: 100%;
  --s-2: 90%;
  --s-3: 100%;
  --s-4: 90%;
  
  --l-1: 20%;
  --l-2: 30%;
  --l-3: 80%;
  --l-4: 90%;

  --hue-red: 0deg;
  --color-core-red-darker: hsl(var(--hue-red), var(--s-1), var(--l-1));
  --color-core-red-dark: hsl(var(--hue-red), var(--s-2), var(--l-2));
  --color-core-red: hsl(var(--hue-red), var(--s-3), var(--l-3));
  --color-core-red-light: hsl(var(--hue-red), var(--s-4), var(--l-4));

  --hue-orange: 20deg;
  --color-core-orange-darker: hsl(var(--hue-orange), var(--s-1), var(--l-1));
  --color-core-orange-dark: hsl(var(--hue-orange), var(--s-2), var(--l-2));
  --color-core-orange: hsl(var(--hue-orange), var(--s-3), var(--l-3));
  --color-core-orange-light: hsl(var(--hue-orange), var(--s-4), var(--l-4));

  --hue-yellow: 50deg;
  --color-core-yellow-darker: hsl(var(--hue-yellow), var(--s-1), var(--l-1));
  --color-core-yellow-dark: hsl(var(--hue-yellow), var(--s-2), var(--l-2));
  --color-core-yellow: hsl(var(--hue-yellow), var(--s-3), var(--l-3));
  --color-core-yellow-light: hsl(var(--hue-yellow), var(--s-4), var(--l-4));

  --hue-green: 150deg;
  --color-core-green-darker: hsl(var(--hue-green), var(--s-1), var(--l-1));
  --color-core-green-dark: hsl(var(--hue-green), var(--s-2), var(--l-2));
  --color-core-green: hsl(var(--hue-green), var(--s-3), var(--l-3));
  --color-core-green-light: hsl(var(--hue-green), var(--s-4), var(--l-4));
  
  --hue-teal: 175deg;
  --color-core-teal-darker: hsl(var(--hue-teal), var(--s-1), var(--l-1));
  --color-core-teal-dark: hsl(var(--hue-teal), var(--s-2), var(--l-2));
  --color-core-teal: hsl(var(--hue-teal), var(--s-3), var(--l-3));
  --color-core-teal-light: hsl(var(--hue-teal), var(--s-4), var(--l-4));
  
  --hue-blue: 210deg;
  --color-core-blue-darker: hsl(var(--hue-blue), var(--s-1), var(--l-1));
  --color-core-blue-dark: hsl(var(--hue-blue), var(--s-2), var(--l-2));
  --color-core-blue: hsl(var(--hue-blue), var(--s-3), var(--l-3));
  --color-core-blue-light: hsl(var(--hue-blue), var(--s-4), var(--l-4));

  --hue-purple: 260deg;
  --color-core-purple-darker: hsl(var(--hue-purple), var(--s-1), var(--l-1));
  --color-core-purple-dark: hsl(var(--hue-purple), var(--s-2), var(--l-2));
  --color-core-purple: hsl(var(--hue-purple), var(--s-3), var(--l-3));
  --color-core-purple-light: hsl(var(--hue-purple), var(--s-4), var(--l-4));

  --hue-pink: 335deg;
  --color-core-pink-darker: hsl(var(--hue-pink), var(--s-1), var(--l-1));
  --color-core-pink-dark: hsl(var(--hue-pink), var(--s-2), var(--l-2));
  --color-core-pink: hsl(var(--hue-pink), var(--s-3), var(--l-3));
  --color-core-pink-light: hsl(var(--hue-pink), var(--s-4), var(--l-4));
  
  /* Sizes */
  --size-padding-xs: 0.125rem;
  --size-padding-tiny: 0.25rem;
  --size-padding-small: 0.5rem;
  --size-padding-base: 1rem;
  --size-padding-large: 1.5rem;
  --size-padding-xl: 2.5rem;

  --size-border-base: 0.125rem;
  --size-border-large: 0.5rem;

  --size-font-small: 0.875rem;
  --size-font-base: 1rem;
  --size-font-large: 1.25rem;
  --size-font-xl: 1.75rem;
  --size-font-xxl: 2.5rem;

  --size-breakpoint-small : 400px;
  --size-breakpoint-medium : 1000px;
  --size-breakpoint-large : 1400px;

  --hue-teal: 175deg;
  --color-background-selection: hsl(var(--hue-teal), 85%, 35%, 0.125);
  
  --time-duration-base: 0.2s;

  --font-family-mono: 'Source Code Pro', monospace;
  --font-family-primary: 'Atkinson Hyperlegible', 'Source Sans Pro', 'Open Sans', Arial, Helvetica, sans-serif;
}

body.light {
  --color-font-primary : rgba(0, 6, 38, 0.9);
  --color-font-secondary : rgba(0, 6, 38, 0.8);
  --color-font-tertiary : rgba(0, 6, 38, 0.6);
  --color-font-quaternary : rgba(0, 6, 38, 0.4);
  --color-font-inverse: rgba(255, 255, 255, 0.9);

  --color-font-code-1: var(--color-core-blue-dark);
  --color-font-code-2: var(--color-core-green-dark);
  --color-font-code-3: var(--color-core-purple-dark);
  --color-font-code-4: var(--color-core-red-dark);
  --color-font-code-5: var(--color-core-orange-dark);
  --color-font-code-6: var(--color-core-teal-dark);
  --color-font-code-7: var(--color-core-pink-dark);

  --color-background-primary: var(--color-core-white);
  --color-background-secondary: var(--color-core-gray-10);
  --color-background-tertiary: var(--color-core-gray-20);
  --color-background-highlight: var(--color-core-yellow-light);
  --color-background-success: var(--color-core-green-light);
  --color-background-error: var(--color-core-red-light);
  
  --color-background-selection: hsl(var(--hue-teal), 85%, 60%, 0.125);

  --color-brand-primary : var(--color-core-purple-dark);
  --color-brand-secondary : var(--color-core-teal-dark);

  --color-border-primary: rgba(0, 6, 38, 0.4);
  --color-border-secondary: rgba(0, 6, 38, 0.2);
  --color-border-tertiary: rgba(0, 6, 38, 0.1);
}

body {
  --color-font-primary: #ffffff;
  --color-font-secondary: rgba(255, 255, 255, 0.8);
  --color-font-tertiary: rgba(255, 255, 255, 0.6);
  --color-font-quaternary: rgba(255, 255, 255, 0.4);
  --color-font-inverse: rgba(0, 6, 38, 0.9);

  --color-background-primary: var(--color-core-gray-140);
  --color-background-secondary: var(--color-core-gray-120);
  --color-background-tertiary: var(--color-core-gray-100);
  --color-background-highlight: rgba(57, 250, 179, 0.25);
  --color-background-success: var(--color-core-green-dark);
  --color-background-error: var(--color-core-red-dark);

  --color-brand-primary: var(--color-core-purple);
  --color-brand-secondary: var(--color-core-green);

  --color-border-primary: rgba(255, 255, 255, 0.4);
  --color-border-secondary: rgba(255, 255, 255, 0.2);
  --color-border-tertiary: rgba(255, 255, 255, 0.1);

  --color-font-link: var(--color-brand-primary);
  --color-font-hover: var(--color-brand-secondary);
  --color-font-active: var(--color-brand-secondary);

  --color-font-code-1: var(--color-core-blue);
  --color-font-code-2: var(--color-core-green);
  --color-font-code-3: var(--color-core-purple);
  --color-font-code-4: var(--color-core-red);
  --color-font-code-5: var(--color-core-orange);
  --color-font-code-6: var(--color-core-teal);
  --color-font-code-7: var(--color-core-pink);
}

::-moz-selection { background-color: var(--color-background-highlight); }
::selection { background-color: var(--color-background-highlight); }

html {
  font-family: var(--font-family-primary);
}

body {
  color: var(--color-font-primary);
  background-color: var(--color-background-primary);
  transition: background-color var(--time-duration-base) ease;
  transition: color var(--time-duration-base) ease;
  letter-spacing: 0.05em;
}

a {
  color: var(--color-font-link);
  transition: all var(--time-duration-base) ease;
  text-underline-offset: var(--size-padding-tiny);
}

a:hover {
  color: var(--color-font-hover);
}

a:active,
a:focus {
  color: var(--color-font-active);
}

p {
  margin-bottom: var(--size-padding-large);
}

code,
pre {
  font-size: var(--size-font-small);
  font-family: 'Source Code Pro', monospace;
}

code {
  padding: var(--size-padding-tiny);
  background-color: var(--color-background-secondary);
}

sup {
  vertical-align: super;
  font-size: var(--size-font-small);
}

li {
  margin-bottom: var(--size-padding-small);
}

hr {
  border-color: var(--color-border-tertiary);
  border-width: 0.25rem;
  border-style: solid;
  width: 25%;
  margin: var(--size-padding-xl) 0;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--size-padding-base);
  font-weight: 700;
  font-family: var(--font-family-primary);
}

h1 {
  font-size: var(--size-font-xxl);
  /* font-weight: 100; */
  text-align: center;
}

h2 {
  font-size: var(--size-font-xl);
}

h3 {
  font-size: var(--size-font-large);
}

h4 {
  margin-top: var(--size-padding-large);
}

mark {
  background-color: var(--color-background-highlight);
  color: inherit;
  padding: var(--size-padding-xs) var(--size-padding-tiny);
}

svg,
img,
video {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

button svg {
  vertical-align: baseline;
}

.font-secondary { color: var(--color-font-secondary); }
.font-tertiary { color: var(--color-font-tertiary); }
.text-center { text-align: center; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: var(--size-padding-base) 0;
}

.gatsby-image-wrapper > div {
  position: relative;
  z-index: 2;
  mix-blend-mode: color;
}

.colored-image > div {
  background-color: var(--color-core-green);
}

.bw-image > div {
  background-color: var(--color-core-white);
}

.bg-image > div {
  background-color: var(--color-background-primary);
}

.round-image {
  border-radius: 100%;
}

.responsive-image {
  margin: 0 auto;
  width: 50%;
}

blockquote {
  font-weight: 200;
  font-size: var(--size-font-large);
  padding: var(--size-padding-base);
  margin: var(--size-padding-xl);
  /* border-left: var(--size-border-large) solid var(--color-border-tertiary); */
  text-align: center;
  position: relative;
}

blockquote:before,
blockquote:after {
  position: absolute;
  font-size: 5rem;
  line-height: 1;
  color: var(--color-font-quaternary);
}

blockquote:before {
  content: '“';
  top: 0;
  left: -2rem;
}

blockquote:after {
  content: '”';
  bottom: 0;
  right: -2rem;
}

blockquote > p {
  margin: 0;
}

cite {
  color: var(--color-font-tertiary);
  font-size: var(--size-font-base);
}

dd {
  margin-bottom: var(--size-padding-base);
}

dd:last-child {
  margin-bottom: 0;
}

ul, ol {
  margin-bottom: var(--size-padding-large);
  margin-left: var(--size-padding-base);
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
  position: relative;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: var(--color-font-tertiary);
  position: absolute;
  top: 0;
  left: -2.25rem;
  text-align: right;
  width: 2rem;
}

li > ul {
  margin-bottom: 0;
}

p + ul {
  margin-top: calc(-1 * var(--size-padding-base))
}

figure {
  padding: var(--size-padding-base);
  border: var(--size-border-base) solid var(--color-border-tertiary);
  margin-bottom: var(--size-padding-large);
}

figcaption {
  color: var(--color-font-tertiary);
  text-align: center;
  font-size: var(--size-font-small);
  margin-top: var(--size-padding-base);
}

@media screen and (min-width: 600px) {
  .column {
    flex: 1;
    margin: 0 var(--size-padding-base);
  }

  .double-column {
    flex: 2
  }

  .responsive-image {
    width: 100%;
  }
}

@media(min-width: 1000px) {
  :root {
    --size-font-small: 0.75rem;
    --size-font-base: 1rem;
    --size-font-large: 1.5rem;
    --size-font-xl: 2.25rem;
    --size-font-xxl: 3.25rem;
  }
  
  
  html {
    font-size: 125%;
  }
}

@media(min-width: 1400px) {
  html {
    font-size: 150%;
  }
}

.card {
  background-color: var(--color-background-primary);
  color: var(--color-font-primary);
}

.clear {
  clear: both;
}

.toggle-buttons {
  border: var(--size-border-base) solid var(--color-border-primary);
  box-shadow: -4px 4px 0 0 var(--color-border-tertiary);
  display: inline-block;
  padding: var(--size-padding-tiny);
}

.toggle-button {
  padding: var(--size-padding-small) var(--size-padding-base);
  font-size: var(--size-font-base);
  color: var(--color-font-link);
}

.toggle-button.active {
  color: var(--color-font-inverse);
  background-color: var(--color-brand-primary);
  /* border-color: var(--color-brand-primary);
  box-shadow: none;; */
}

.green { color: var(--color-font-code-2); }
.red { color: var(--color-font-code-4); }

h2 > svg {
  margin-left: var(--size-padding-base);
  opacity: 0.5;
  vertical-align: baseline;
}