.card {
  background-color: var(--color-background-secondary);
  display: block;
  padding: var(--size-padding-large);
  color: var(--color-font-primary);
}

.cardGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.projectCard {
  composes: card;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--size-padding-base) 0;
  text-decoration: none;
}

.projectCardContent {
  flex: 1;
  padding-left: var(--size-padding-base);
}

.projectCardImage {
  /* flex: 0 1 25%; */
  width: 25%;
}

.projectCardEmoji {
  width: 25%;
  font-size: var(--size-font-xl);
  text-align: center;
}

.projectCardTitle {
  margin-top: 0;
}

.projectCardDescription {
  margin: 0;
}

@media screen and (min-width: 1000px) {
  .projectCard {
    /* flex: 1; */
    width: 48%;
    margin: 0;
  }
}