.designSystem {
  overflow: hidden;
}

.designSystemInfo {
  
}

.designSystemInfo dd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.designSystemImage {
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  .designSystemInfo,
  .designSystemImage {
    width: 50%;
    float: left;
  }
  
  .designSystemInfo {
    padding-left: var(--size-padding-base);
  }
}
