.header {
  position: relative;
  z-index: 100;
}

.header-inner {
  border-bottom: 1px solid var(--color-border-secondary);
}

.logo {
  color: var(--color-font-tertiary);
  padding: var(--size-padding-base);
  box-sizing: content-box;
  height: 1rem;
  line-height: 1;
  display: inline-block;
}

.nav-toggle-button {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: var(--size-padding-base);
  box-sizing: content-box;
}

.nav-toggle-button-bar {
  position: absolute;
  top: var(--size-padding-base);
  left: var(--size-padding-base);
  width: 1rem;
  height: 0.125rem;
  background-color: var(--color-font-tertiary);
  transform-origin: 0;
  transition: all var(--time-duration-base) ease;
}

.nav-toggle-button-bar:nth-child(2) { top: 50%; margin-top: -0.0625rem; }
.nav-toggle-button-bar:nth-child(3) { top: auto; bottom: var(--size-padding-base); }

.open .nav-toggle-button-bar:nth-child(1) {
  transform: rotate(45deg);
  width: 1.25rem;
}
.open .nav-toggle-button-bar:nth-child(2) { opacity: 0; }
.open .nav-toggle-button-bar:nth-child(3) {
  transform: rotate(-45deg);
  width: 1.25rem;
}

.nav-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--time-duration-base) ease;
}

.open .nav-items {
  max-height: 100rem;
}

.nav-item {
  padding: var(--size-padding-base);
  display: block;
  text-decoration: none;
  /* border-left-width: var(--size-border-base);
  border-left-style: solid;
  border-left-color: transparent; */
  font-weight: 700;
}

.nav-item.active {
  color: var(--color-font-active);
  /* border-left-color: var(--color-font-active); */
}

.theme-toggle-button {
  background-color: var(--color-font-link);
  color: var(--color-font-inverse);
  font-size: var(--size-font-base);
  padding: var(--size-padding-small) var(--size-padding-base);
  margin: 0 var(--size-padding-base);
  border-radius: var(--size-font-base);
  line-height: 1;
  height: 1rem;
  box-sizing: content-box;
}

@media(min-width: 800px) {
  .header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
  }
  
  .logo { order: 1; }
  .nav-items { 
    order: 2;
    flex: 1;
    max-height: none;
  }
  .nav-item { 
    display: inline-block;
    /* border-left: none;
    border-bottom-width: var(--size-border-base);
    border-bottom-style: solid;
    border-bottom-color: transparent; */
  }
  .nav-item.active {
    /* border-bottom-color: var(--color-font-active); */
  }
  .theme-toggle-button { 
    order: 3;
    float: none;
  }
  .nav-toggle-button { display: none; }
}

/* @media(min-width: 800px) {
  .header {
    width: 10rem;
  }
  
  .header-inner {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--size-padding-large) 0;
  }

  .logo { order: 1; }
  .nav-items { order: 2; max-height:none; width:100%; }
  .theme-toggle-button { order: 3; float: none; }
  .nav-toggle-button { display: none; }
} */