.footer {
  margin-top: var(--size-padding-xl);
  padding-top: var(--size-padding-xl);
  background-color: var(--color-background-primary);
  color: var(--color-font-tertiary);
  text-align: center;
  position: relative;
}

.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  border-top: 0.25rem solid var(--color-border-tertiary);
}

.socialLink {
  padding: var(--size-padding-small);
  display: inline-block;
}