.footer {
  margin-top: var(--size-padding-xl);
  padding-top: var(--size-padding-xl);
  border-top: 1px solid var(--color-border-secondary);
  color: var(--color-font-tertiary);
  text-align: center;
  position: relative;
}

.socialLink {
  padding: var(--size-padding-small);
  display: inline-block;
}