
.roles {
  display: flex;
  flex-direction: row;
}

.role {
  width: 100%;
  margin-bottom: var(--size-padding-base);
  padding: var(--size-padding-base);
  text-align: center;
  background-color: var(--color-background-secondary);
}

.roleIcon {

}

.roleTitle {

}

.roleDescription {

}

@media(min-width: var(--size-breakpoint-medium)) {
  .role {
    width: 45%;
  }
}